<nav class="bg-gray-800">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
      <!-- Logo -->
      <div class="flex items-center flex-shrink-0">
        <img
          class="h-8 w-auto"
          src="https://imgs.search.brave.com/q35RDsYfeCSdN-GB7C6jKQrLFTEMEgvbmqRWbOTfd1k/rs:fit:860:0:0/g:ce/aHR0cHM6Ly91cGxv/YWQud2lraW1lZGlh/Lm9yZy93aWtpcGVk/aWEvY29tbW9ucy9i/L2I4L0xvZ29fVnVl/bGluZy5zdmc.svg"
          alt="Vueling"
        />
      </div>
      <!-- Languages -->
      <div class="sm:ml-6">
        <div class="flex space-x-4">
          <a
            href="#"
            class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white"
            >EN</a
          >
          <a
            href="#"
            class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white"
            >ES</a
          >
        </div>
      </div>
    </div>
  </div>
</nav>
