<app-navbar />
<main>
  <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
    <router-outlet />
  </div>
</main>

<br /><br /><br />
<!-- HEADER BREADCRUMB -->
<app-header />

<br /><br /><br />
<!-- FORM EXAMPLE -->
<app-form />

<br /><br /><br />
<!-- CARDS EXAMPLE ONE -->
<app-card-one />

<br /><br /><br />
<!-- CARDS EXAMPLE TWO -->
<app-card-two />

<br /><br /><br />
<!-- CARDS EXAMPLE THREE -->
<app-card-three />

<br /><br /><br />
<!-- BUTTON ANCHOR -->
<app-button-anchor />

<br /><br /><br />
<!-- BUTTON ANCHOR -->
<app-button />

<br /><br /><br />
<!-- FOOTER -->
<app-footer />
